<?xml version="1.0"?>
<config>
    <modules>
        <MageFire_Wall>
            <version>0.1.0</version>
        </MageFire_Wall>
    </modules>
    <admin>
        <routers>
			<wall>
				<use>admin</use>
				<args>
					<module>MageFire_Wall</module>
					<frontName>wall</frontName>
				</args>
			</wall>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<wall module="wall">
				<title>Firewall</title>
				<sort_order>71</sort_order>               
				<!--<children>
					<items module="wall">
						<title>White List</title>
						<sort_order>0</sort_order>
						<action>wall/adminhtml_wall</action>
					</items>
				</children>-->
                <children>
					<dashboard>
                        <title>Dashboard</title>
                        <action>wall/adminhtml_dashboard_view</action>
                        <sort_order>50</sort_order>
                    </dashboard>                    
					<recentedittedfiles>
                        <title>Recent Edited Files</title>
                        <action>wall/adminhtml_dashboard_recent</action>
                        <sort_order>60</sort_order>
                    </recentedittedfiles>
                    <whitelist>
                        <title>White List</title>
                        <action>wall/adminhtml_whitelist</action>
                        <sort_order>100</sort_order>
                    </whitelist>
                    <blacklist>
                        <title>Black List</title>
                        <action>wall/adminhtml_blacklist</action>
                        <sort_order>200</sort_order>
                    </blacklist>
                    <rules>
                        <title>Rules</title>
                        <action>wall/adminhtml_rules</action>
                        <sort_order>300</sort_order>
                    </rules>
                    <logs>
                        <title>Logs</title>
                        <action>wall/adminhtml_logs</action>
                        <sort_order>400</sort_order>
                    </logs>                    
                    <logs1>
                        <title>Scan your Store</title>
                        <action>wall/adminhtml_dashboard_diagnostic</action>
                        <sort_order>500</sort_order>
                    </logs1>
                </children>
			</wall>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<MageFire_Wall>
							<title>White List</title>
							<sort_order>10</sort_order>
						</MageFire_Wall>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>  
    <global>
        <models>
            <wall>
                <class>MageFire_Wall_Model</class>
                <resourceModel>wall_mysql4</resourceModel>
            </wall>
            <wall_mysql4>
                <class>MageFire_Wall_Model_Mysql4</class>
                <entities>
                    <rules>
                        <table>firewall_rules</table>
                    </rules>  
                    <version>
                        <table>firewall_version</table>
                    </version>  
                     <logs>
                        <table>firewall_logs</table>
                    </logs>   
                     <whitelist>
                        <table>firewall_whitelist</table>
                    </whitelist>  
                     <blacklist>
                        <table>firewall_blacklist</table>
                    </blacklist>    
                     <options>
                        <table>firewall_options</table>
                    </options>                 
                </entities>
            </wall_mysql4>
        </models>
		<events>
			<admin_session_user_login_failed>
				<observers>
					<MageFire_Wall_Model_Observer>
						<class>MageFire_Wall_Model_Observer</class>
						<method>login_validation</method>
					</MageFire_Wall_Model_Observer>
				</observers>
			</admin_session_user_login_failed>
			<admin_session_user_login_success>
				<observers>
					<MageFire_Wall_Model_Observer>
						<class>MageFire_Wall_Model_Observer</class>
						<method>checkBlacklist</method>
					</MageFire_Wall_Model_Observer>
				</observers>
			</admin_session_user_login_success>			
		</events>
        <resources>
            <wall_setup>
                <setup>
                    <module>MageFire_Wall</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wall_setup>
            <wall_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wall_write>
            <wall_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wall_read>
        </resources>
        <helpers>
            <wall>
                <class>MageFire_Wall_Helper</class>
            </wall>
        </helpers>
        <blocks>
			<wall>
				<class>MageFire_Wall_Block</class>
			</wall>
		</blocks>
    </global>    
    <crontab>
        <jobs>
            <wall_delete_log>
                <schedule>
                    <cron_expr>0 0 */15 * *</cron_expr>
                </schedule>
                <run>
                    <model>wall/cron::deleteOldLogs</model>
                </run>
            </wall_delete_log>
        </jobs>
    </crontab>
</config>
