<?xml version="1.0"?>
<config>
    <modules>
        <MageFirewall_Firewall>
            <version>0.1.0</version>
        </MageFirewall_Firewall>
    </modules>
    <admin>
        <routers>
			<firewall>
				<use>admin</use>
				<args>
					<module>MageFirewall_Firewall</module>
					<frontName>Firewall</frontName>
				</args>
			</firewall>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<firewall module="firewall">
				<title>Firewall</title>
				<sort_order>71</sort_order>               
				<!--<children>
					<items module="wall">
						<title>White List</title>
						<sort_order>0</sort_order>
						<action>wall/adminhtml_wall</action>
					</items>
				</children>-->
                <children>
					<dashboard>
                        <title>Dashboard</title>
                        <action>firewall/adminhtml_dashboard_view</action>
                        <sort_order>50</sort_order>
                    </dashboard>                    
					<recentedittedfiles>
                        <title>Recent Edited Files</title>
                        <action>firewall/adminhtml_dashboard_recent</action>
                        <sort_order>60</sort_order>
                    </recentedittedfiles>
                    <whitelist>
                        <title>White List</title>
                        <action>firewall/adminhtml_whitelist</action>
                        <sort_order>100</sort_order>
                    </whitelist>
                    <blacklist>
                        <title>Black List</title>
                        <action>firewall/adminhtml_blacklist</action>
                        <sort_order>200</sort_order>
                    </blacklist>
                    <rules>
                        <title>Rules</title>
                        <action>firewall/adminhtml_rules</action>
                        <sort_order>300</sort_order>
                    </rules>
                    <logs>
                        <title>Logs</title>
                        <action>firewall/adminhtml_logs</action>
                        <sort_order>400</sort_order>
                    </logs>                    
                    <logs1>
                        <title>Scan your Store</title>
                        <action>firewall/adminhtml_dashboard_diagnostic</action>
                        <sort_order>500</sort_order>
                    </logs1>
                    <diagnostic>
                        <title>Diagnostic</title>
                        <action>firewall/adminhtml_dashboard_filechecker</action>
                        <sort_order>550</sort_order>
                    </diagnostic>
                </children>
			</firewall>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<MageFirewall_Firewall>
							<title>White List</title>
							<sort_order>10</sort_order>
						</MageFirewall_Firewall>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>  
    <global>
        <models>
            <firewall>
                <class>MageFirewall_Firewall_Model</class>
                <resourceModel>firewall_mysql4</resourceModel>
            </firewall>
            <firewall_mysql4>
                <class>MageFirewall_Firewall_Model_Mysql4</class>
                <entities>
                    <rules>
                        <table>firewall_rules</table>
                    </rules>  
                    <version>
                        <table>firewall_version</table>
                    </version>  
                     <logs>
                        <table>firewall_logs</table>
                    </logs>   
                     <whitelist>
                        <table>firewall_whitelist</table>
                    </whitelist>  
                     <blacklist>
                        <table>firewall_blacklist</table>
                    </blacklist>    
                     <options>
                        <table>firewall_options</table>
                    </options>                 
                </entities>
            </firewall_mysql4>
        </models>
		<events>
			<admin_session_user_login_failed>
				<observers>
					<MageFirewall_Firewall_Model_Observer>
						<class>MageFirewall_Firewall_Model_Observer</class>
						<method>login_validation</method>
					</MageFirewall_Firewall_Model_Observer>
				</observers>
			</admin_session_user_login_failed>
			<admin_session_user_login_success>
				<observers>
					<MageFirewall_Firewall_Model_Observer>
						<class>MageFirewall_Firewall_Model_Observer</class>
						<method>checkBlacklist</method>
					</MageFirewall_Firewall_Model_Observer>
				</observers>
			</admin_session_user_login_success>			
		</events>
        <resources>
            <firewall_setup>
                <setup>
                    <module>MageFirewall_Firewall</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </firewall_setup>
            <firewall_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </firewall_write>
            <firewall_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </firewall_read>
        </resources>
        <helpers>
            <firewall>
                <class>MageFirewall_Firewall_Helper</class>
            </firewall>
        </helpers>
        <blocks>
			<firewall>
				<class>MageFirewall_Firewall_Block</class>
			</firewall>
		</blocks>
    </global>    
    <crontab>
        <jobs>
            <firewall_delete_log>
                <schedule>
                    <cron_expr>0 0 */15 * *</cron_expr>
                </schedule>
                <run>
                    <model>firewall/cron::deleteOldLogs</model>
                </run>
            </firewall_delete_log>
        </jobs>
    </crontab>
</config>
